html {
  background-color: #141414;
  color: #fff;
  padding: 0;
  margin: 0;
}

.container {
  height: 98vh;
  width: 98vw;
  overflow: hidden;
}

.cardBackground {
  background-color: #1f1f1f;
}

.linkBackground {
  background-color: #333333;
}

.neon {
  color: #c4f82a;
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  color: #c4f82a;
}
